/* CSS Custom Properties Definitions */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* HTML elements */
*,
:after,
:before {
  box-sizing: border-box;
}


@media (max-width: 900px) {
  li {
    font-size: 18px !important;
    line-height: 30px !important;
  }
}

pre {
  font-size: 13px;
}

img {
  width: 100%;
}

.gatsby-resp-image-image {
  box-shadow: none !important;
}